@font-face {
  font-family: "HelveticaNeueLTStd Th";
  font-weight: 200;
  src: url("../fonts/6a90c865-49a8-4f20-99c7-73987067d9c9.eot?#iefix");
  src: url("../fonts/6a90c865-49a8-4f20-99c7-73987067d9c9.eot?#iefix") format("eot"), url("../fonts/8520ec8f-b7f6-485e-a3b7-811ab3da29b2.woff2") format("woff2"), url("../fonts/cd6c33a1-279f-47db-8fa5-063d809888f8.woff") format("woff"), url("../fonts/b204c5ce-e6ed-4dfd-bfdc-b45b26fcb7c8.ttf") format("truetype"), url("../fonts/272a58f8-f0b6-4601-934c-b64afb2b3a56.svg#272a58f8-f0b6-4601-934c-b64afb2b3a56") format("svg"); }

@font-face {
  font-family: "HelveticaNeueLTStd Lt";
  font-weight: 300;
  src: url("../fonts/88fcd49a-13c7-4d0c-86b1-ad1e258bd75d.eot?#iefix");
  src: url("../fonts/88fcd49a-13c7-4d0c-86b1-ad1e258bd75d.eot?#iefix") format("eot"), url("../fonts/7732d6de-bd05-4c17-ae43-99e9a02edf31.woff2") format("woff2"), url("../fonts/9a2e4855-380f-477f-950e-d98e8db54eac.woff") format("woff"), url("../fonts/fa82d0ee-4fbd-4cc9-bf9f-226ad1fcbae2.ttf") format("truetype"), url("../fonts/48d599a6-92b5-4d43-a4ac-8959f6971853.svg#48d599a6-92b5-4d43-a4ac-8959f6971853") format("svg"); }

@font-face {
  font-family: "HelveticaNeueLTStd Roman";
  font-weight: 400;
  src: url("../fonts/0b3a3fca-0fad-402b-bd38-fdcbad1ef776.eot?#iefix");
  src: url("../fonts/0b3a3fca-0fad-402b-bd38-fdcbad1ef776.eot?#iefix") format("eot"), url("../fonts/b4cd926c-1a31-4785-b261-1db1a68c521e.woff2") format("woff2"), url("../fonts/d5af76d8-a90b-4527-b3a3-182207cc3250.woff") format("woff"), url("../fonts/1d238354-d156-4dde-89ea-4770ef04b9f9.ttf") format("truetype"), url("../fonts/b68875cb-14a9-472e-8177-0247605124d7.svg#b68875cb-14a9-472e-8177-0247605124d7") format("svg"); }

@font-face {
  font-family: "HelveticaNeueLTStd Md";
  font-weight: 500;
  src: url("../fonts/07fe0fec-b63f-4963-8ee1-535528b67fdb.eot?#iefix");
  src: url("../fonts/07fe0fec-b63f-4963-8ee1-535528b67fdb.eot?#iefix") format("eot"), url("../fonts/3600b37f-2bf1-45f3-be3a-03365f16d9cb.woff2") format("woff2"), url("../fonts/60be5c39-863e-40cb-9434-6ebafb62ab2b.woff") format("woff"), url("../fonts/4c6503c9-859b-4d3b-a1d5-2d42e1222415.ttf") format("truetype"), url("../fonts/36c182c6-ef98-4021-9b0d-d63122c2bbf5.svg#36c182c6-ef98-4021-9b0d-d63122c2bbf5") format("svg"); }

@font-face {
  font-family: "HelveticaNeueLTStd Bd";
  font-weight: 700;
  src: url("../fonts/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?#iefix");
  src: url("../fonts/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?#iefix") format("eot"), url("../fonts/3b303641-706e-4221-94c4-4fb491f4f8ef.woff2") format("woff2"), url("../fonts/14ff6081-326d-4dae-b778-d7afa66166fc.woff") format("woff"), url("../fonts/8fda1e47-19be-46c7-8d83-8d4fb35572f0.ttf") format("truetype"), url("../fonts/f751c8ae-1057-46d9-8d74-62592e002568.svg#f751c8ae-1057-46d9-8d74-62592e002568") format("svg"); }

body {
  font-size: 10px; }

header {
  box-shadow: 0 2px 0 #ccc; }
  header h1 {
    font-family: "HelveticaNeueLTStd Md", sans-serif; }
  header ul {
    text-align: center;
    list-style-type: none;
    color: #717476;
    padding-bottom: 2em; }
    header ul li {
      font-size: 1.41em;
      display: inline;
      padding: 0 2.5em 0 2.5em;
      font-family: "HelveticaNeueLTStd Roman"; }

.content .main {
  float: right;
  position: relative;
  width: 48.125%;
  margin-right: 10.729881472%; }
  .content .main img {
    width: 100%;
    height: 145px;
    overflow: hidden; }
  .content .main #col-1 {
    clear: both;
    float: left;
    width: 46.36363636363636%; }
  .content .main #col-2 {
    float: right;
    width: 46.36363636363636%; }

.content .sidebar {
  float: left;
  position: relative;
  left: 10.6875%;
  width: 27.25%; }
  .content .sidebar ul {
    list-style-type: none;
    border: 1px solid #e2e2e2;
    padding: 9.40366972477064%;
    margin-top: 0; }
    .content .sidebar ul li {
      clear: both;
      font-family: "HelveticaNeueLTStd Roman";
      color: #717475;
      font-size: 1.4em;
      padding-bottom: 1em; }
    .content .sidebar ul h5 {
      font-size: 1.8em;
      font-family: "HelveticaNeueLTStd Bd";
      border-bottom: 1px solid #e2e2e2;
      color: #717476;
      padding-bottom: 18.8px; }
    .content .sidebar ul h5:first-child {
      margin-top: 0; }
  .content .sidebar #need-help {
    border: 1px solid #e2e2e2;
    padding: 9.40366972477064%;
    background-color: #f6f6f6;
    margin-bottom: 204px; }
    .content .sidebar #need-help h1 {
      font-size: 4em;
      font-family: "HelveticaNeueLTStd Lt";
      margin: 0;
      color: #717476; }
    .content .sidebar #need-help p {
      font-size: 1.4em;
      font-family: "HelveticaNeueLTStd Roman";
      margin-bottom: 1%;
      color: #717475; }

.customer-service p {
  font-size: 1.4em;
  font-family: "HelveticaNeueLTStd Roman";
  margin-bottom: 1%;
  color: #717475; }

.down-arrow {
  float: right; }

.icon {
  float: left;
  width: 17.36694677871148%;
  height: 17.36694677871148%;
  padding-right: 4.76190476190476%; }

.main-content {
  float: left;
  width: 77.87114845938375%; }

#edit-profile, #payment-settings, #addresses, #orders, #my-auto-replenishment {
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 38px;
  margin-top: 38px;
  height: 100px; }
  #edit-profile h4, #payment-settings h4, #addresses h4, #orders h4, #my-auto-replenishment h4 {
    font-size: 1.8em;
    font-family: "HelveticaNeueLTStd Bd";
    color: #8dabbd;
    margin: 0; }
  #edit-profile p, #payment-settings p, #addresses p, #orders p, #my-auto-replenishment p {
    font-size: 1.4em;
    font-family: "HelveticaNeueLTStd Roman";
    color: #717475; }

/*footer*/
footer {
  clear: both; }
  footer h4 {
    font-family: "HelveticaNeueLTStd Md";
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    padding-top: 14px;
    padding-bottom: 15px;
    background-color: #717476;
    margin: 0;
    text-align: center; }

.footer-content {
  width: 100%; }

#sub-footer {
  font-family: "HelveticaNeueLTStd Roman";
  clear: both;
  padding-top: 18px;
  color: #717476; }

#sub-footer-top {
  width: 70%;
  text-align: center;
  margin: 0 auto 17px auto; }

#sub-footer-bottom {
  width: 70%;
  text-align: center;
  margin: auto; }

.left-footer-content {
  font-family: "HelveticaNeueLTStd Lt";
  height: 374px;
  width: 34.99688084840923%;
  float: left;
  background-color: #f6f6f6; }
  .left-footer-content #footer-sign-up, .left-footer-content p, .left-footer-content form {
    margin-left: 30.3030303030303%;
    margin-right: 20.14260249554367%; }
  .left-footer-content label {
    font-family: "HelveticaNeueLTStd Roman";
    font-size: 1.2em;
    color: #717476; }
  .left-footer-content p {
    font-family: "HelveticaNeueLTStd Roman";
    font-size: 1.4em;
    color: #717476; }
  .left-footer-content form button {
    background-color: #8dabbd;
    border: none;
    color: #fff;
    font-size: 1.4em;
    font-family: "HelveticaNeueLTStd Bd";
    width: 42.44604316546763%;
    height: 40px; }

/*footer end*/
/*banner start*/
#banner-content {
  border-bottom: 1px solid #e2e2e2;
  margin: 0;
  height: 8em;
  padding-top: 2em; }

#banner-content-left {
  display: inline-block;
  float: left;
  font-family: "HelveticaNeueLTStd Lt";
  font-size: 4em;
  text-align: left;
  color: #717476;
  border-right: 1px solid #e5e5e5;
  padding-right: 0.5em; }

#banner-content-middle {
  float: left;
  font-family: "HelveticaNeueLTStd Lt";
  font-size: 2.8em;
  text-align: left;
  color: #717476; }

#banner-content-right {
  float: left;
  font-family: "HelveticaNeueLTStd Roman";
  text-align: left;
  color: #717476; }

/*banner end*/
#privacy-policy {
  float: right;
  color: #717476;
  font-size: 1.2em;
  margin-top: 0.75em;
  margin-right: 23.20143884892086%; }

#breadcrumbs {
  padding-top: 21px;
  padding-bottom: 45px;
  margin-left: 10.6875%;
  font-size: 1.1em;
  color: rgba(113, 116, 118, 0.6); }

#input-email {
  box-sizing: border-box;
  width: 100%;
  height: 32px; }

#input-month {
  box-sizing: border-box;
  width: 35.97122302158273%;
  height: 32px;
  color: #717476; }

#input-day {
  box-sizing: border-box;
  width: 26.97841726618705%;
  height: 32px;
  margin-right: 2%;
  margin-left: 2%;
  color: #717476; }

#input-year {
  box-sizing: border-box;
  width: 30.57553956834532%;
  height: 32px;
  color: #717476; }

#footer-sign-up {
  font-size: 3em;
  font-family: "HelveticaNeueLTStd Roman";
  color: #717476;
  margin-top: 37px; }

.right-footer-content {
  height: 374px;
  width: 65.00311915159077%;
  float: left;
  background: url("../images/footer-watermark.png") no-repeat bottom right; }
  .right-footer-content li {
    padding: 0.5em 0 0.5em 0; }

.header-top-content {
  background-color: #f6f6f6;
  height: 35px; }

#header-top-left {
  float: left;
  font-size: 12px;
  font-family: "HelveticaNeueLTStd Lt";
  padding-top: 1em;
  padding-left: 10.5625%; }
  #header-top-left b {
    font-family: "HelveticaNeueLTStd Md";
    color: #e85593; }

#header-top-right {
  float: right;
  font-family: "HelveticaNeue";
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 0.8px;
  color: #717476;
  padding-top: 1em;
  padding-right: 10.5625%; }

#main-logo {
  margin-top: 15px; }
  #main-logo #main-logo-left {
    width: 33.333333%;
    float: left; }
    #main-logo #main-logo-left svg {
      display: none; }
  #main-logo #main-logo-middle {
    text-align: center;
    width: 33.333333%;
    margin-left: 33.333333%;
    float: left; }
  #main-logo #main-logo-right {
    width: 33.333333%;
    float: left; }

#company-information, #customer-service, #online-purchases, #follow-us {
  color: #717476;
  float: left;
  font-family: "HelveticaNeueLTStd Lt";
  width: 17%;
  text-align: left;
  margin-right: 4.875%; }
  #company-information h3, #customer-service h3, #online-purchases h3, #follow-us h3 {
    font-size: 1.6em; }
  #company-information ul, #customer-service ul, #online-purchases ul, #follow-us ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.2em; }

#company-information {
  margin-left: 3.0625%; }

#right-carousel-arrow {
  display: none; }

#search-bar {
  width: 12.15625%;
  margin-top: 2em; }

@media only screen and (max-width: 500px) {
  .main .banner img {
    width: 100%;
    height: auto;
    margin-top: 39px; }
  #banner-content {
    padding-bottom: 41px; }
  .content .main {
    float: left;
    margin: 0 5.57275541795666%;
    width: 90.625%; }
  .content .sidebar {
    float: left;
    position: initial;
    margin: 0 5.57275541795666%;
    width: 90.625%; }
  .content .main #col-1, .content .main #col-2 {
    width: 100%; }
  .content .main #col-2 #orders {
    margin-top: 0; }
  .left-footer-content #footer-sign-up {
    padding: 0.5em 0; }
  .left-footer-content #footer-sign-up, .left-footer-content p, .left-footer-content form {
    margin: 0 5.57275541795666%; }
  .left-footer-content form button {
    width: 100%; }
  .right-footer-content {
    background-image: none; }
    .right-footer-content #company-information {
      margin-top: 29px;
      border-top: 1px solid #ebebeb; }
    .right-footer-content h3 {
      font-size: 2em; }
  .left-footer-content, .right-footer-content {
    width: 100%;
    height: auto; }
  #company-information, #customer-service, #online-purchases {
    width: 90.625%;
    margin: 0 5.57275541795666% 0 5.57275541795666%;
    font-size: 1.5em;
    color: #717476;
    border-bottom: 1px solid #ebebeb; }
    #company-information ul, #customer-service ul, #online-purchases ul {
      display: none; }
  #follow-us {
    width: 100%;
    text-align: center;
    margin-top: 20.9px; }
    #follow-us h3 {
      display: none; }
    #follow-us svg {
      margin-right: 6.1875%; }
  #right-carousel-arrow {
    float: right;
    display: inline; }
  #breadcrumbs {
    display: none; }
  #header-top-left {
    float: none;
    padding-left: 0;
    text-align: center; }
  #header-top-right {
    display: none; }
  header nav ul {
    display: none; }
  #privacy-policy {
    float: none;
    margin: 0;
    text-align: center;
    padding: 2em;
    font-family: "HelveticaNeueLTStd Lt"; }
  #main-logo #main-logo-left svg {
    display: block;
    padding-left: 5.57275541795666%;
    padding-top: 20px;
    margin: 0; }
  #main-logo #main-logo-middle {
    margin-left: 0; }
    #main-logo #main-logo-middle svg {
      width: 144px;
      margin-bottom: 19px; }
  #search-bar {
    display: none; } }
